.card-head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head-title {
    margin: 0 !important;
    white-space: normal !important;
    overflow-wrap: break-word !important;
}