#project-detail-table tr.ant-table-row-level-1 {
    background-color: rgb(248, 248, 248);
}

#project-detail-table tr.ant-table-row-level-1 > td {
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width: 525px) {
    #project-detail-table .ant-table-row-expand-icon {
        display: none;
    }

    /* Force table to not be like tables anymore */
    #project-detail-table thead, tbody, th, td, tr {
        display: block;
    }

    #project-detail-table td, th {
        border-bottom: none !important;
        text-align: center !important;
    }

    #project-detail-table tr {
        border-bottom: 1px solid #eee;
    }

    #project-detail-table button.ant-table-row-expand-icon-cell {
        display: none;
    }
}

@media screen and (min-width: 525px) {
    #project-detail-table tr.ant-table-row-level-1 .table-first-element {
        margin-left: 15px;
    }
}